@font-face {
    font-family: "Oswald_font";
    src: local("Oswald"),
     url("../../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}

.page__footer {
    background-color: #002845;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    padding-left: 10vw;
    padding-right: 10vw;
    //margin: auto -0.5rem -0.5rem -0.5rem;
    font-family: "Oswald_font";

    .footer__main_info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .page__footer__logo {
            width: 50%;
        }
    
        .page__footer__navbar {
            display: flex;
            gap: 2rem;
    
            .page__footer_navbar_link {
                text-decoration: none;
                color: #DEF9F1;
            }
        }
    
        .footer__socials {
            display: flex;
            align-items: center;
    
            .page__footer__link {
                margin-right: -0.5rem;
                .footer__socials_link {
                    width: 70%;
                    margin: 0;
                }
            }
        }
    }
    .footer__line {
        border-bottom: 1px solid #DEF9F1; 
        width: 100%;
        padding-bottom: 0.6rem;
    }
    .footer__rights {
        color: #069DAE;
        text-align: center;
        font-size: 0.7rem;
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 750px) {
    .page__footer {
        padding: 3rem 10vw 3rem 10vw;     
        .footer__main_info {
            flex-direction: column; 
            justify-content: center; 
            gap: 1rem; 
    
            .page__logoLink {
                width: 2rem;
                .page__footer__logo {
                    width: 100%;
                    padding-right: 0;
                }
            }
        
            .footer__socials {
                display: flex;
                align-items: center;
        
                .page__footer__link {
                    .footer__socials_link {
                        width: 60%;
                    }
                }
            }
        }
        .footer__line {
            padding-left: 2vw;
            padding-right: 2vw;
        }
    }
}