.navbar-container-diagnosis {
 width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid grey;
  border-radius: 10px;
}

.introduction_section {
  font-family: "Oswald";
  background-color: #def9f1;
  color: #002845;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.introduction_section__text {
  width: 30vw;
}

.introduction_section__text_title {
  font-size: 3.5rem;
  font-family: "Bebas_font";
}

.introduction_section__image {
  width: 20rem;
  height: 20rem;
}

.diagnoses_section {
  color: #002845;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
 
}
.new_diagnoses_section {
  color: #002845;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
 
}


.diagnoses_section__diagnose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  background-color: #def9f1;
  color: #002845;
  border: 0.25rem solid #069dae;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Oswald";
}

.new_diagnoses_section__diagnose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  background-color: #def9f1;
  color: #002845;
  border: 0.25rem solid #069dae;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Oswald";
  margin-top: -8rem;
}

.diagnoses_section__diagnose_medication {
  display: flex;
  flex-direction: row;
  padding-top: 0.25rem;
  margin-bottom: 1rem;
  font-family: "Oswald";
  width: auto;
}
.diagnoses_section__diagnose_column_date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.diagnoses_section__diagnose_medication_name {
  font-weight: 100;
}
.delete-diagnoses{
  color: red;
  text-align: center;
  border: 1px solid #002845;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
  font-family: "Oswald";
  font-weight: 600;
  font-size: 15px;
  
}
.add-new-diagnoses-section{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
 

}

.add-new-diagnoses{
 
   background-color: #def9f1;
   margin-top: 1rem;
   border: 1px solid #002845;
   font-size: 15px;
   color: #002845;
   font-weight: 600;
   border-radius: 10px;
   cursor: pointer;
   padding: 0.5rem;
   font-family: "Oswald";
  
   margin-bottom: 8rem;
}
.add-new-diagnoses:hover{
  background-color: #002845;
  color: #def9f1;
}

.diagnoses-input{
  
  margin-left: 2rem;
 
  border: none; /* Remove default border */
    outline: none; /* Remove default outline */
    border-radius: 5px;
    padding: 0.6rem; /* Padding inside the wrapper */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background: #f7f9fc; /* Light background color for the input container */
    border-radius: 8px; 
  
}
.new-diagnoses-button-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.diagnoses-button{
  background-color: #def9f1;
  
  border: 1px solid #002845;
  font-size: 15px;
  color: #002845;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
  font-family: "Oswald";

}

.diagnoses-button:hover{
  background-color: #002845;
  color: #def9f1;
}

@media screen and (max-width: 850px) {
  /* .introduction_section{
        .introduction_section__text{
            width: 43vw;
            
        }
    } */

  .introduction_section__text {
    width: 43vw;
  }

  .introduction_section__text_title {
    font-size: 2.5rem;
  }

  .introduction_section__text_description {
    font-size: 1.1rem;
  }

  .introduction_section__image {
    width: 13.5rem;
    height: 13.5rem;
  }

  /* .diagnoses_section{
        .diagnoses_section__diagnose{
            display: flex;
            flex-direction: column;
            width: 80vw;
            font-size: 0.85rem;
            
        }
    } */

  .diagnoses_section__diagnose {
    display: flex;
    flex-direction: column;
    width: 80vw;
    font-size: 0.85rem;
  }

  .diagnoses_section__diagnose_column_medic {
    padding-top: 0.25rem;
  }
  .diagnoses_section__diagnose_column_date {
    padding-top: 0.25rem;
  }
}

@media screen and (max-width: 500px) {
  .introduction_section {
    display: flex;
    flex-direction: column;
  }

  .introduction_section__text {
    width: 70vw;
  }

  .introduction_section__text_title {
    font-size: 2.5rem;
  }

  .introduction_section__text_description {
    font-size: 1.1rem;
  }

  .introduction_section__image {
    width: 15rem;
    height: 15rem;
  }

  /* .diagnoses_section{
        .diagnoses_section__diagnose{
            display: flex;
            flex-direction: column;
            width: 80vw;
        }
    } */

  .diagnoses_section__diagnose {
    display: flex;
    flex-direction: column;
    width: 80vw;
    /* .diagnoses_section__diagnose_column{
            .diagnoses_section__diagnose_medication{
                display: flex;
                flex-direction: column;
            }
        } */
  }

  .diagnoses_section__diagnose_medication {
    display: flex;
    flex-direction: column;
    width: 60vw;
  }

  .diagnoses_section__diagnose_medication_name {
    text-indent: 0.25rem;
  }
}
