.Contact {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.body-contat {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar-container-contat {
  width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid grey;
  border-radius: 10px;
}

.content-contat {
  height: 100%;
  width: 95%;
  margin-top: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  overflow-x: hidden; /* 
  border-width: 5px;
  border-color: black;
  border-style: solid;*/
}

.left-container-contat {
  height: 650px;
  display: flex;
  flex-direction: column;
  width: 20em;
  margin-top: 8rem;
  margin-right: 150px;
  margin-left: 200px;
}

.left-container-contat h1 {
  font-family: "Oswald";
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

.left-container-contat h3 {
  font-size: 1.5em;
  color: #069dae;
  letter-spacing: 0.03em;
  font-family: "Oswald";
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.paragraph-contat {
  font-size: 1em;
  letter-spacing: 1.2px;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.para-contat {
  margin-top: -7%;
  font-size: 1.1em;
  list-style: none;
}

.forum-container-contat {
  width: 30rem;
  height: auto;
  padding-bottom: none;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.footer-container-contat {
  width: 100%;
}
Footer {
  margin-top: auto;
}

@media (max-width: 600px) {
  .content-contat {
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .left-container-contat {
    height: 650px;
    display: flex;
    flex-direction: column;
    width: 20em;

    margin-right: 1px;
    margin-left: 1px;
  }
  .forum-container-contat {
    margin-left: 5%;
  }
}
