.Profile {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  padding: 12px 0;
  border-bottom: 2px solid grey;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .content-profile{
    flex-direction: colums;
  }
}
@media (max-width: 800px) {
  .content-profile {
    flex-direction: row;
  }
}
.body {
  min-height: 100vh;
}
.content-profile {
  height: 500px;
  width: 70%;
  margin-top: 5%;
  margin-left: 50px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.left-container-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
  height: 95%;
}

.profile-picture {
  width: 200px;
  height: 350px;
  margin-left: 25%;
}
.profile-picture img {
  width: 200px;
  height: auto;
  padding: 20px;
  background-color: #069dae;
  border-radius: 50%;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  padding: 15px;
  margin: 10px;
  width: 50%;
  background-color: #369986;
  border-radius: 10px;
  color: azure;
  text-decoration: none;
}

.general-information {
  height: 80%;
  width: 60%;
  margin-top: 30px;
}

.general-information-title {
  color: #002845;
  display: flex;
  align-self: flex-start;
  margin-left: 100px;
  font-family: "Oswald";
}

.general-information-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: space-around;
}

.list-1 p {
  display: flex;
  align-self: flex-start;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: large;
  color: #069dae;
}

.list-2 p {
  display: flex;
  align-self: flex-start;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: large;
  color: darkgray;
}

.footer-container {
  width: 100%;
}
