.List {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-conv {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 70%;
    height: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .searchBar-conv {
      flex: 1;
      background-color: #b8e0c6;
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      height: 40px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.311);

      .searchIcon-conv {
        color: rgb(85, 94, 94);
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: rgb(46, 43, 43);
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .items-conv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .item-conv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    cursor: pointer;
    height: auto;
    margin-bottom: 1rem;
    width: 70%;
    background-color: #b8e0c6;
    border-radius: 20px;
    border-bottom: 2px solid grey;

    img {
      width: 3rem;
      height: auto;
      border-radius: 80%;
      margin-right: none;
    }

    .texts-conv {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: left;
      .emailLink {
        text-decoration: none;
      }

      span {
        font-weight: 500;
        font-size: 18.5px;
        color: rgb(93, 93, 93);
        margin-bottom: 0.5rem;

        .userName-conv {
          font-size: 20px;
          color: #002845;
        }
      }

      .userEmail-conv {
        font-size: 14px;
        font-weight: 300;
        background-color: #a1c7ae;
        border-radius: 20px;
        height: auto;
        min-width: 11rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .userEmail-conv:hover {
        color: white;
        background-color: #369986;
      }
    }
    .diagnoses-conv {
      padding: 8px 16px;
      background-color: #a1c7ae;
      border: 1px solid #002845;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      margin-right: 10px;
      font-family: "Oswald";
      margin-left: 10rem;
    }
    .diagnoses-conv:hover {
      color: white;
      background-color: #369986;
    }
  }
  .buttons-container-conv {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .buttons-container-conv button {
    padding: 8px 16px;
    background-color: #369986;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    font-family: "Oswald";
    font-size: 22px;
  }

  .buttons-container-conv button:disabled {
    /* Stiluri pentru butoanele dezactivate */
    opacity: 0.7;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 755px) {
  .item-conv {
    gap: 0.1rem;
  }
  .item-conv img {
    width: auto;
    height: 2rem;
  }

  .texts-conv {
    margin-left: 0px;
    span {
      font-size: 10px;
      .userName-conv {
        font-size: 10px;
      }
    }
    .userEmail-conv {
      font-size: 12px;
    }
  }

  .userEmail-conv {
    width: auto;
    height: auto;
  }
}
